/*Для мобильной версии (основа)*/

/*Скрытые элементы мобильной версии*/
@media (max-width: 767px) {
    /*Головная часть (скрытая)*/
    .header-cps__item--border-width768 {
        display: none;
    }    
    .header-cps__item--dop-elem-width768 {
        display: none;
    }

    /*Текст скрытый*/
    .main-text__item--text-width768 {
        display: none;
    }  
}

/*Скрытое для пк*/
@media (max-width: 1119px ){
    .main-title__logo-width1120 {
        display: none;
    }
    .main-text__item--text-width1120 {
        display: none;
    }
}

/*Мобильная версия*/

html, body{
    font-family:'TT Lakes', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}
/*Головная часть*/
.header-cps {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
    height: 87px;
    margin-bottom: 24px;
}
.header-cps__item {
    margin-top: auto;
    margin-bottom: auto;
}

.header-cps__item--menu {
    margin-left: 16px;
    margin-right: auto;
}
.header-cps__item--cps {
    margin-left: auto;
    margin-right: auto;
}
.header-cps__item--border {
    margin-left: auto; 
    margin-right: 20px;
}
.header-cps__item--bild {
    margin-left: 0;
    margin-right: 16px;
}
.header-cps__item--search {
    margin-left: 0;
    margin-right: 16px;;
}

/*Тело сайта*/
.main-title {
    display: flex;
}

/*Тело - декор для заголовка*/
.main-title__border {
    width: 4px;
    min-height: 40px;
    background-color: #41F6D7;
    border-radius: 0 50px 50px 0;
    margin-right: 12px;
}

/*Тело - текст заголовка*/
.main-title__text {
    margin-right: auto;
}
.main-title__text--h1 {
    font-size: 28px;
    line-height: 40px;
    margin: 0;
}

/*Тело - слайдер*/
.main-menu {
    display: flex;   
    flex-wrap: nowrap;
    overflow: auto;
}
.main-menu__item {
    margin-left: 16px; 
}
.main-menu__item:last-child {
    margin-right: 8px; 
}
.main-menu__item--p {
    line-height: 24px;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    white-space: nowrap;
    margin-top: 24px;
    margin-bottom: 24px;
}
.main-menu__item--p--focus {
    border: 2px solid #41F6D7;   
}

/*Тело - основной текст*/
.main-text {
    margin: 0 16px;
}
.main-text__item {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.2px;
}

/*Тело - Читать далее*/
.main-next {
    display: flex;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.main-next__icon {
    width: 24px;
    height: 24px;
    align-self: center;
}
.main-next__text {
    line-height: 24px;
    margin: 0;
    margin-left: 8px;
    letter-spacing: -0.2px;
    font-weight: 500;
}

/*Тело - Картинка*/
.main-image {
    text-align: center;
}
.main-image__item {
    width: 320px;
    height: 176px;
}

/*Для планшета (ширина более - 768)*/
@media (min-width: 768px) {

    /*Головная часть (планшет)*/
    .header-cps__item--border,
    .header-cps__item--border-width768 {
        margin-left: 20px; 
        margin-right: 20px;
    }
    .header-cps__item--menu {
        margin-left: 16px;
        margin-right: 0px;
    }
    .header-cps__item--cps {
        margin-left: 0;
        margin-right: auto;
    }
    .header-cps__item--dop-elem-width768 {
        margin-right: 16px;
    }
    .header-cps__item--dop-elem-width768--last {
        margin-right: 0;
    }

    /*Тело - текст (планшет)*/
    .main-text__item--text-width768 {
        margin-top: 20px;
    }
    /*Тело - текст, далее, картинка (планшет)*/
    .main-text-next-image {
        display: flex;
        justify-content: center;
    }
    .main-text-next {
        margin-left: 16px;
        margin-right: 48px;
    }
    .main-text {
        width: 312px;
        height: 160px;
    }
    .main-next {
        margin-top: auto;
        margin-bottom: 14px;
    }
    .main-image {
        margin-right: 40px;
    }
    .main-image__item {
        width: 360px;
        height: 208px;
        border-radius: 10px;
    }
}

/*Для десктопа (ширина более - 1120)*/
@media (min-width: 1119px) {

    /*Головная часть - скрытие хедера*/
    .header-cps {
        display: none;
    }
    /*Тело -текст (добавление элементов с текстом)*/
    .main-title {
        display: flex;
        justify-content: center;
        margin-top: 42px;
    }
    .main-title__text {
        margin-left: 28px;
    }
    .main-title__text--h1 {
        margin-left: 0;
    }
    .main-title__border {
        margin-right: 0;
    }
    .main-title__logo-width1120 {
        margin-right: 32px;
    }
    .main-title__logo-width1120--p-text {
        line-height: 24px;
        margin: 0;
        margin-right: 8px;
        letter-spacing: -0.2px;
        font-weight: 500;
        align-items: center;
        display: flex;
        align-items: center;
    }
    /*Тело - слайдер (выравнивание относительно заголовка сайта)*/
    .main-menu__item--p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .main-menu {
        justify-content: center;
        margin-left: 32px;
        margin-right: 25px;
        flex-wrap: wrap;
    }
    .main-menu__item {
        margin-right: auto;
        margin-left: auto;
        align-self: center;
    } 
    .main-menu__item:last-child {
        margin-right: auto;
        margin-left: 0; 
    }
    .main-menu__item--p--last-width-1120 {
        margin-top: 0;
        margin-bottom: 0;
    }
    /*Тело - картинка (размер и отступы)*/
    .main-image__item {
        width: 531px;
        height: 307px;
        border-radius: 10px;
    }
    /*Тело - основной текст (выравнивание)*/
    .main-text-next-image {
        margin-right: 29px;
        margin-left: 34px;
        margin-top: 20px;
    }
    .main-text-next {
        margin-left: 34px;
        margin-right: 36px;
    }
    .main-text {
        width: 490px;
        height: 160px;
        margin: 0;
    }
    .main-next {
        margin-left: 0;
    }
    .main-text__item--text-width1120 {
        display: inline;
    }
}