/*Для мобильной версии (основа)*/

/*Скрытые элементы мобильной версии*/
@media (max-width: 767px) {

    /*Головная часть (скрытая)*/
    .header-cps--width-768 {
        display: none;
    }

    /*Текст скрытый*/
    .main-text__item--text-width768 {
        display: none;
    }  
    .main-text__item--text-width768 {
        margin-top: 34px;
    }
}

/*Скрытое для пк*/
@media (max-width: 1118px ){
    .main-text__item--text-width1120 {
        display: none;
    }
    .main-title__button--width-768 {
        display: none;
    }
}

/*Мобильная версия*/
html, body, button{
    font-family:'TT Lakes', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

/*Головная часть*/
.header-cps {
    display: flex;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
    height: 87px;
    margin-bottom: 24px;
}
.header-cps__button {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
    margin-left: 16px;
}
.header-cps__button > img {
    vertical-align: middle;
}
.header-cps__button--main {
    width: 98px;
    height: 52px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.header-cps__border {
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 20px;
    margin-left: auto;
}
.header-cps--last {
    margin-left: 0;
}

/*Тело сайта*/
.main-title {
    display: flex;
}

/*Тело - декор для заголовка*/
.main-title__border {
    width: 4px;
    min-height: 40px;
    background-color: #41F6D7;
    border-radius: 0 50px 50px 0;
    margin-right: 12px;
}

/*Тело - текст заголовка*/
.main-title__text {
    margin-right: auto;
}
.main-title__text--h1 {
    font-size: 28px;
    line-height: 40px;
    margin: 0;
}

/*Тело - слайдер*/
.main-menu {
    margin-top: 24px;
    margin-bottom: 24px;
}
.main-menu__list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;
}
.main-menu__item {
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.main-menu__item--link:active {
    text-decoration: none;
}
.main-menu__item--link:hover {
    border-color: #41F6D7;
}
.main-menu__item--link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 10px;
}
.main-menu__item--link--active {
    border-color: #41F6D7;
}

/*Тело - основной текст*/
.main-text__text-and-next {
    margin-left: 16px;
    margin-right: 16px;
}
.main-text__text {
    margin-bottom: 16px;
}
.main-text__item {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

/*Тело - Читать далее*/
.main-text__next {
    display: flex;
    margin-bottom: 16px;
    border: none;
}
.main-text__next--image {
    margin-right: 8px;
}
.main-text__next--text {
    margin: 0;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
}

/*Тело - Картинка*/
.main-text__image {
    text-align: center;
}
.main-text__image--item {
    height: 176px;
    width: 320px;
}

/*Для планшета (ширина более - 768)*/
@media (min-width: 768px) {

    /*Головная часть (планшет)*/
    .header-cps__button--main {
        margin-right: auto;
    }
    .header-cps__border {
        margin-left: 20px;
        margin-right: 20px;
    }
    .header-cps--width-768 {
        margin-right: 0;
        margin-left: 16px;
    }
    .header-cps__button--first {
        margin-left: 24px;
        margin-right: 0;
    }
    .header-cps--last--width-768 {
        margin-right: 24px;
    }
    .header-cps__border.header-cps--width-768 {
        margin-right: 20px;
        margin-left: 20px;
    }

    /*Тело - слайдер*/
    .main-menu {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .main-menu__list {
        margin-left: 24px;
        margin-right: 24px;
    }

    /*Тело - текст (планшет)*/
    .main-text {
        display: flex;
        margin-left: 24px;
        margin-right: 24px;
    }
    .main-text__text-and-next {
        margin: 0;
        margin-right: 48px;
    }

    /*Тело - картинка (планшет)*/
    .main-text__image--item {
        height: 208px;
        width: 360px;
        border-radius: 10px;
    }
}

/*Для десктопа (ширина более - 1120)*/
@media (min-width: 1119px) {

    /*Головная часть - скрытие хедера*/
    .header-cps {
        display: none;
    }
    /*Тело -текст (добавление элементов с текстом)*/
    .main-title {
        display: flex;
        justify-content: center;
        margin-top: 42px;
        margin-right: 32px;
    }
    .main-title__text {
        margin-left: 28px;
    }
    .main-title__text--h1 {
        margin-left: 0;
    }
    .main-title__image {
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-title__button {
        display: flex;
        align-items: center;
        border: none;
        margin-left: 32px;
    }
    .main-title__text--p {
        line-height: 24px;
        margin: 0;
        margin-right: 8px;
        letter-spacing: -0.2px;
        font-weight: 500;
    }

    /*Тело - слайдер (выравнивание относительно заголовка сайта)*/
    .main-menu {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .main-menu__list {
        margin-left: 32px;
        margin-right: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-menu__item {
        margin-left: 0;
        margin-right: auto;
    }

    /*Тело - картинка (размер и отступы)*/
    .main-text__image--item {
        width: 531px;
        height: 307px;
    }

    /*Тело - основной текст (выравнивание)*/
    .main-text {
        margin-left: 34px;
    }
    .main-text__text-and-next {
        margin-right: 36px;
    }  
}
